/* Подключение шрифтов &display=swap &subset=cyrillic-ext*/
@import url('https://fonts.googleapis.com/css?family=Lora:regular,700&display=swap');
/* Обнуляющий стиль */
*,
*::before, 
*::after{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body{
	font-family: Lora;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	background: #111428;
}
button {
	cursor: pointer;
	background-color: transparent;
	color: #fff;
}
input,
button,
textarea {
	font-family: inherit;
}
/* Стили */
/* ОТДЕЛЬНЫЕ БЛОКИ */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
/* ====================================================================== */
.input__search {
	border: 2px solid black;
	width: 200px;
	height: 32px;
	padding: 0 25px;
	border-radius: 10px;
	background: rgb(94, 93, 93) url('../img/search.png') 0 center / 24px 24px no-repeat;
}
.input__search:focus {
	outline: none;
	box-shadow: 0 0 5px 0 tomato;
}
/* ====================================================================== */
.input__login {
	height: 40px;
	padding: 0 10px;
	margin-right: 10px;
	border-radius: 10px;
	outline: none;
}
.input:focus {
	box-shadow: 0 0 10px 0 yellowgreen;
}
.label__login {
	font-size: 20px;
	font-weight: 700;
	color: #900c0c;
	text-transform: capitalize;
}
/* ====================================================================== */
.checkbox__input-login { 
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox__input-login:checked + .checkbox__label-login::before{
	background: #fff url('../img/checked.png') center / 13px no-repeat;
}
.checkbox__input-login:focus + .checkbox__label-login::before{
	box-shadow: 2px 2px 2px black;
}
.checkbox__label-login {
	display: inline-block;
	cursor: pointer;
	padding-left: 18px;
	text-transform: capitalize;
}
.checkbox__label-login::before {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 3px;
	position: absolute;
	top: 1px;
	left: 0;
	background:#fff;
}
/* ====================================================================== */
.button {
	display: block;
	background-color: orange;
	border-radius: 5px;
	width: 70px;
	height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
}
.button:hover, .button:focus {
	color: yellow;
	box-shadow: 0 0 5px 0 yellow;
}
/* ====================================================================== */
.form {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 30px;
}
.form__line {
	margin-bottom: 20px;
}
.form__line:last-child {
	margin-bottom: 0;
}
.form__input {
	margin-bottom: 30px;
}
.form__input:last-child {
	margin-bottom: 0;
}
.input {
	max-width: 384px;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	border-radius: 5px;
	font-size: 18px;
	line-height: 21px;
}
.form__row {
	display: inline-block;
	margin-right: 50px;
}
.form__row:last-child {
	margin-right: 0;
}
.form__box {
	position: relative;
}
.checkbox__input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.checkbox__input:checked + .checkbox__label::after {
	content: '';
	width: 12px;
	height: 12px;
	background: #337AB7;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 4px;
}
.checkbox__label {
	padding-left: 30px;
}
.checkbox__label::before {
	content: '';
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 5px;
	position: absolute;
	top: 1px;
	left: 0;
}
.form__link-regulations {
	display: inline-block;
	padding-left: 4px;
	color: #64B369;
}
.form__link-regulations:hover, .form__link-regulations:focus {
	text-decoration: underline;
}
.button-registration {
	max-width: 384px;
	width: 100%;
	height: 50px;
	background: #337AB7;
	border-radius: 5px;
	font-size: 24px;
	line-height: 120%;
}
.button-registration:hover, .button-registration:focus {
	opacity: 0.9;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */
/* СТИЛИ БЛОКОВ */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #111428;
	box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
/* ====================================================================== */
.header__menu {
	vertical-align: middle;
	margin-right: 50px;
}
.menu-header {
	display: inline-block;
}
.menu-header__list {
	font-size: 0;
}
.menu-header__list > li{
	cursor: pointer;
	font-size: 18px;
	position: relative;
	display: inline-block;
	background-color: aqua;
	min-width: 150px;
	text-align: center;
	margin-right: 30px;
	border-radius: 10px;
}
.menu-header__link {
	padding: 10px 15px;
	display: block;
	color: black;
	text-transform: uppercase;
}
.menu-header__list li:last-child {
	margin-right: 0;
}
.menu-header__list > li:hover .menu-header__link {
	color: violet;
}
.menu-header__list > li:hover .menu-header__sub-list{
	display: inline-block;
}
.menu-header__sub-list {
	border-radius: 10px;
	display: none;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: cadetblue;
	min-width: 150px;
	font-size: 16px;
}
.menu-header__sub-list > li{
	cursor: pointer;
	line-height: 150%;
	margin-bottom: 5px;
}
.menu-header__sub-link {
	padding: 10px 0;
	display: block;
	color: black;
	text-transform: capitalize;
}
.menu-header__sub-list > li:last-child {
	margin-bottom: 0;
}
.menu-header__sub-list li:hover .menu-header__sub-link{
	color: chartreuse;
}
.menu-header__sub-sublist {
	display: none;
	padding: 5px 0;
	position: absolute;
	top: 5%;
	left: -80%;
	background-color: cornflowerblue;
	min-width: 120px;
}
.menu-header__sub-list > li:hover .menu-header__sub-sublist {
	display: inline-block;
}
.menu-header__sub-sublist li{
	position: relative;
	cursor: default;
	margin-bottom: 5px;
}
.menu-header__sub-sublist li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 20%;
	background-color: #000;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	margin-top: -3.5px;
}
.menu-header__sub-sublist li:last-child {
	margin-bottom: 0;
}
.menu-header__sub-sublist li:hover .menu-header__sub-sublink{
	text-decoration: underline;
}
.menu-header__sub-sublink {
	color: black;
	display: inline-block;
	overflow: hidden;
}
/* ====================================================================== */
.header__search {
	vertical-align: middle;
	margin-right: 50px;
}
.search-form {
	display: inline-block;
}
.search-form__line {
	display: inline-block;
}
.search-form__input {
}
/* ====================================================================== */
.header__login {
	padding: 10px 0;
	vertical-align: middle;
}
.login-form {
	display: inline-block;
}
.login-form__line {
	margin-bottom: 15px;
}
.login-form__line:last-child {
	margin-bottom: 0;
}
.login-form__input {
	margin-bottom: 10px;
}
.login-form__input_row {
	display: inline-block;
	margin-right: 15px;
}
.login-form__input_row:last-child {
	margin-right: 0;
}
.login-form__checkbox{
	position: relative;
}
/* ====================================================================== */
.main {
	padding-top: 165px;
}
/* ====================================================================== */
.page {
	padding-top: 60px;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 60px;
}
.page__registration {
	max-width: 385px;
	margin: 0 auto;

}
.page__title {
	margin-bottom: 40px;
}
.title-page {
	text-align: center;
}
.title-page__title {
	font-weight: 700;
	font-size: 38px;
	line-height: 120%;
}
.page__subform {
	text-align: center;
}
.page__subform p{
	display: inline-block;
}
.page__subform a{
	display: inline-block;
	padding-left: 4px;
	color: #64B369;
}
.page__subform a:hover, .page__subform a:focus {
	text-decoration: underline;
}
/* ====================================================================== */
/* ====================================================================== */
/* ====================================================================== */